@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
body {
    padding: 10px;
    background-image: url("https://fvmstatic.s3.amazonaws.com/maps/m/WRLD-EPS-01-0005.png");
    background-size: cover;
}
h1 {
    text-align:center;
    color: cadetblue;
    font-family: 'Langar', cursive;
}
p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Langar', cursive;

}

.flex-container{
    flex-wrap: wrap;
    display: grid;
    overflow: hidden;
    grid-auto-rows: 1fr;
    max-width: 1000px;
}
.center{
    margin-left: auto;
    margin-right: auto;;
}


.flex-item{
    display: flex;
    padding: 0.5em;
    width: 150px;
    height: 150px;
}
.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front,
.back{
    height: 100%;
    width: 100%;
    display: flex;
    font-size: 4em;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    position: absolute;
}

.front{
    background: ivory;
    color: darkorange;
    z-index: 2;
    backface-visibility: hidden;
}

.back{
    background: darkorange;
    color:ivory;
    z-index: 1;
    transform: rotateY(180deg);
}

.container:hover .card{
    transform: rotateY(180deg);
}

.container{
    perspective: 1000px;
}
